<ng-container *ngIf="chat$ | async as chat">
  <ng-container *ngIf=" auth.user$ | async as user">

    <div class="top">
      <p><a class="tag" routerLink="/">Back</a>
        <span class="tag is-success">
          https://firestore-megachat.firebaseapp.com/chats/{{ chat.id }}
        </span>
      </p>
    </div>


    <div #chatBox class="chat">


      <div class="msg animated zoomInUp" *ngFor="let msg of chat.messages; trackBy: trackByCreated">

        <div class="user">
          <img [src]="msg.user?.photoURL || 'assets/unicorn.svg'" width="50px">
          <div><span class="tag is-dark">{{ msg.user?.displayName || msg.user?.uid }}</span></div>

          <button *ngIf="chat.uid === user.uid || msg.uid === user.uid" class="button is-danger is-small" (click)="cs.deleteMessage(chat, msg)">Delete</button>

        </div>

        <p>{{ msg.content }}</p>


      </div>



    </div>

    <div class="form">
      <input class="input" [(ngModel)]="newMsg" maxlength="100" (keydown.enter)="submit(chat.id)">

      <button (click)="submit(chat.id)" class="button is-info" [disabled]="!newMsg">Send</button>
    </div>

  </ng-container>
</ng-container>