/* You can add global styles to this file, and also import other style files */

.content {
  display: flex;
  padding: 10vh 10vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}
